div.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form.form-login input {
    border-radius: 7px;
    border: 1px solid rgba(99, 99, 99, 0.4);
    height: 50px;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.container form button {
    width: 300px;
    margin-top: 20px !important;
    height: 40px;
}

