{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('app_authentification_login') }}" method="post" class="form-login">
            <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ lastUsername }}" />
            <input type="password" id="password" name="_password" placeholder="Mot de passe"/>

            <button type="submit" class="ui button">Se connecter</button>
        </form>
    </div>

{% endblock %}
